<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%= username %>
    <form action="/liuyan" method='post'>
    	<input style="display: none;" type="" name="username" id="username" value="<%= username %>" />
    	<input type="text" name='liuyan'/>
    	<input type="submit" name="" id="" value="" />
    </form>
  </body>
</html>
