<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/user" method="post">
    	<input type="text" name="username" id="username" value="" />
    	<input type="text" name="userposs" id="userposs" value="" />
    	<input type="submit" value="注册"/>
    </form>
  </body>
</html>
